.process {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    h1 {
      font-size: $font-size-2xl;
    }
  }

  &__main {
    padding-left: 0;
    padding-right: 0;

    & > div {
      gap: 2rem;
    }
  }

  &__sidebar {
    flex: 1;
    border: 1px solid $neutral-200;
    border-radius: $radius;
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 40rem;
    height: calc(100vh - 22rem);
    overflow: overlay;

    ul li button {
      padding: 0;
      text-decoration: none;
      color: $color-link;

      &:hover,
      &:active {
        color: $color-link-dark;
      }
    }
  }

  &__graph {
    flex: 1;

    .tab-content {
      padding-top: 1rem;
    }

    .nav-tabs button:not(.active) {
      color: $color-link;

      &:hover,
      &:active {
        color: $color-link-dark;
      }
    }
  }
}