{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        SEDOS Dashboard
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Dashboard to view and compare scenario data" />
    <meta name="author" content="Hendrik Huyskens" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "vendors/bootstrap/scss/bootstrap.scss" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "vendors/fomantic-ui/semantic.min.css" %}" />
        <link type="text/x-scss"
              href="{% static 'css/project.scss' %}"
              rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="{% static "vendors/bootstrap/js/bootstrap.min.js" %}"></script>
      <script type="text/javascript" src="{% static "vendors/jquery/jquery.min.js" %}"></script>
      <script defer type="text/javascript" src="{% static "vendors/fomantic-ui/semantic.min.js" %}"></script>
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="mb-4">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <a href="{% url 'index' %}">
            <img src="{% static 'images/Header_Projekt_Sedos.jpg' %}"
              alt="Sedos logo"
              width="127"
              height="51"
              title="Home" 
            />
          </a>
          
          <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"></li>
                <li class="nav-item"></li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">{# URL provided by django-allauth/account/urls.py #}</li>
                  {% endif %}
                  <li class="nav-item">{# URL provided by django-allauth/account/urls.py #}</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% if not abbreviation_list is None %}
        <div class="container pb-4 ps-0">
          <div class="d-flex flex-row align-items-center">
            <svg width="16" height="16" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <path d="m50 85c-19.301 0-35-15.699-35-35s15.699-35 35-35 35 15.699 35 35-15.699 35-35 35zm0-64c-16.102 0-29.102 13-29.102 29s13 29.102 29.102 29.102 29.102-13 29.102-29.102c-0.10156-16-13.102-29-29.102-29z"/>
              <path d="m49.102 59.699c-1.6016 0-3-1.3008-3-3 0-4.6016 3-8.6016 7.3008-9.8984 1.8984-0.60156 3.1992-2.3008 3.1016-4.3008 0-3.6016-3-6.6016-6.6016-6.6016-3.6016 0-6.6016 3-6.6016 6.6016 0 1.6016-1.3008 3-3 3-1.6016 0-3-1.3008-3-3 0.19922-6.8984 5.8008-12.5 12.699-12.5s12.5 5.6016 12.5 12.5c0 4.6016-3 8.6016-7.3008 9.8984-1.8984 0.60156-3.1992 2.3008-3.1016 4.3008 0.003906 1.6016-1.3984 3-2.9961 3z"/>
              <path d="m52.699 65.898c0 4.8008-7.1992 4.8008-7.1992 0 0-4.7969 7.1992-4.7969 7.1992 0"/>
            </svg>
            <p class="pe-2 ps-1 mb-0">Abbreviation Help:</p>
            <form hx-get="/energysystem/abbreviation_meaning"
                  hx-target="#meaning"
                  hx-swap="innerhtml"
                  hx-trigger="input">
              <label for="abbreviation"></label>
              <input list="abbreviations"
                    id="abbreviation"
                    name="abbreviation"
                    placeholder="Enter or select abbreviation..." />
              <datalist id="abbreviations">
                {% for abb in abbreviation_list %}<option value="{{ abb }}"></option>{% endfor %}
              </datalist>
              <input type="hidden" name="structure" value="{{ structure_name }}" />
            </form>
            <div id="meaning" class="ps-2"></div>
          </div>
        </div>
      {% endif %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
