{% extends "base.html" %}

{% block content %}
  <main class="hp">
    <h1>Welcome to the SEDOS GUI</h1>
    <div class="hp__intro">
      <div>
        <label for="customTextBox">
          <h2 class="hp__intro-title">Why SEDOS?</h2>
          <span class="hp__intro-text">
            In the SEDOS project we developed an open-source model structure taking into account the relevant future
            technologies for electricity, heat, X2X, transport and industry in a sector-coupled energy system in Germany.
          </span>
        </label>
      </div>
      <div>
        <label for="customTextBox">
          <h2 class="hp__intro-title">Why this GUI?</h2>
          <span class="hp__intro-text">
            To improve the transparency and reproducibility of the open source structure this GUI provides.
            a few basic functionalities to explore the derived modeling base:
          </span>
          <ol>
            <li>Looking into the input data and the underlying model structure of our reference energy system.</li>
            <li>Looking into possible model results when applying the model data with different scenarios.</li>
          </ul>
        </label>
      </div>
      <div>
        <h2 class="hp__intro-title">Looking for more info?</h2>
        <span class="hp__intro-text">
          See more details on SEDOS in the docs:
        </span>
        <a href="https://sedos-project.github.io/.github/" class="btn mt-4 button button--secondary" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
          </svg>
          <span class="ps-1">
            See documentation
          </span>
        </a>
      </div>
    </div>
    <div class="hp__content">
      <div class="hp__section">
        <h2>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="6" cy="6" rx="6" ry="6" transform="rotate(-180 6 6)" fill="black" fill-opacity="0.8"/>
            <ellipse cx="12" cy="12" rx="6" ry="6" transform="rotate(-180 12 12)" fill="#D9D9D9" fill-opacity="0.8"/>
            <ellipse cx="18" cy="18" rx="6" ry="6" transform="rotate(-180 18 18)" fill="#8E8E8E" fill-opacity="0.8"/>
          </svg>
          <span>Explore the Model Structure</span>
        </h2>
        <form>
          {% csrf_token %}
          <label for="models">Select Model Structure</label>
          <select class="form-select" id="models" name="model">
            {% for model in models %}<option label="{{ model }}">{{ model }}</option>{% endfor %}
          </select>
          <div>
            <button class="btn btn-primary" type="submit" name="network">Generate Networks</button>
            <button class="btn btn-primary" type="submit" name="processes">Look at Processes</button>
            <button class="btn btn-primary" type="submit" name="artifacts">Look at Artifacts</button>
            <button class="btn btn-primary" type="submit" name="aggregations">Aggregation Graph</button>
          </div>
        </form>
        <div class="mt-3"></div>
        <a href="https://sedos-project.github.io/.github/results/"
          class="btn btn-secondary"
          target="_blank">Exemplary Graphs</a>
      </div>
      <div class="hp__section">
        <h2>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="16" cy="18" rx="6" ry="6" transform="rotate(-180 16 18)" fill="black" fill-opacity="0.8"/>
            <ellipse cx="16" cy="6" rx="6" ry="6" transform="rotate(-180 16 6)" fill="#D9D9D9" fill-opacity="0.8"/>
            <ellipse cx="9" cy="6" rx="6" ry="6" transform="rotate(-180 9 6)" fill="#8E8E8E" fill-opacity="0.8"/>
            </svg>        
          <span>Explore the Model results</span>
        </h2>
        <form>
          <label for="scenarios">Select Scenario</label>
          <select class="form-select" id="scenario" name="scenario_id">
            {% for scenario in scenarios %}
              <option value="{{ scenario.id }}" label="{{ scenario.name }}">{{ scenario }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary" type="submit" name="diagrams">Explore Diagrams</button>
        </form>
        <div class="mt-3"></div>
        <a href="https://sedos-project.github.io/.github/results/"
          class="btn btn-secondary"
          target="_blank">Exemplary Result Diagrams</a>
        <div class="mt-3">
          <label for="customTextBox">
            Scenario description:
            1. Base scenario ToKo - technology-open & cost-optimal
            2. Scenario variation RIGa: Reduced import dependency for fossil gas
            3. Scenario variation SienA/B: sector integration
          </label>
        </div>
        <a href="https://sedos-project.github.io/.github/scenarios/"
          class="btn btn-secondary"
          target="_blank">See more details on the scenarios</a>
      </div>
    </div>
  </main>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>
{% endblock javascript %}
