$color-primary: #CDA533;
$color-primary-dark: #865b22;
$color-secondary: #338DCC;
$color-secondary-dark: #226DA7;
$color-secondary-darker: #1b4a71;
$color-text: #000000;
$color-text-secondary: #676C73;
$color-link: $color-secondary-dark;
$color-link-dark: #1b4a71;
$color-white: #FFFFFF;
$color-light: #F6F8FA;
$color-border: #C6CDD4;

$font-size-xs: 0.8125rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.75rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$letter-spacing-md: 0;
$letter-spacing-lg: 0.5;

$line-height-xs: 1.125rem;
$line-height-sm: 1.25rem;
$line-height-md: 1.5rem;

$radius-none: 0;
$radius: 0.25rem;
$radius-lg: 1rem;
$radius-btn: 100px;

$spacing-0: 0;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-2xl: 3rem;
$spacing-3xl: 4rem;

$breakpoint-lg: 992px;